.text-dark-blue {
  color: #003C5A;
}

.text-blue {
  color: #006191;
}

.text-white-blue-hover {
  color: white;
}
.text-white-blue-hover:hover {
  color: #006191;
}

.bg-blue-light {
  background-color: #E5EFF4;
}

.bg-blue-lazur {
  background-color: #51859F;
}

.bg-blue-aqua-light {
  background-color: #c2d9e5;
}

.bg-blue-aqua {
  background-color: #E5EFF41A;
}

.bg-menu-blue-light:hover {
  background-color: #e5eff42e;
}


.bg-dark-blue {
  background: #006191;
}

.bg-dark-blue-2 {
  background: #003C5A;
}

.bg-dark-blue-grad {
  background: linear-gradient(0deg, #013651 0%, #014F77 100%);
}

.bg-dark-blue-grad-hover:hover {
  background: linear-gradient(0deg, #013651 0%, #014F77 100%);
  color: white;
}

.blured-bg {
  backdrop-filter: blur(5px) !important;
  /* background-color: #013651ee !important; */
  /* color: white !important; */
  border-radius: 10px;
}
.blured-btn {
  background-color: transparent !important;
  border: none !important;
}
.blured-btn:hover {
  background-color: transparent !important;
}

.border-blue {
  border: 2px solid #657c88;
}

.border-blue-light {
  border-color: #E5EFF4;
}

.border-dark-blue {
  border-color: #003C5A;
}

.border-color-blue {
  border-color: #006191;
}

.border-color-blue-light {
  border-color: #c2d9e5;
}

.border-color-blue-grad {
  border-color: #006191;
}

.hover-border-outline {
  border-color: rgba(255, 255, 255, 0);
}

.hover-border-outline:hover {
  border-color: #ffffff;
  /* border-color: #fffffff9; */
}

.hover-border-outline-white {
  border-color: rgba(255, 255, 255, 0);
}

.hover-border-outline-white:hover {
  border-color: #ffffff;
}


.btn-download-darkBlue  {
  background-color: #003C5A;
  color: white;
  border-color: white;
}

.btn-download-darkBlue:hover  {
  background-color: #E5EFF4;
  border-color: #003C5A; 
  color: #003C5A;
}

.btn-pdf {
  background: linear-gradient(0deg, #013651 0%, #014F77 100%);
  color: white;
}

.btn-pdf:hover {
  background: #51859F;
}

.btn-pdf-content {
  background: #E5EFF4;
}

.btn-pdf:hover .btn-pdf-content {
  background: #003C5A;
  color: white;
}

.btn-reportDownload:hover {
  background: #E5EFF4;
  color: #003C5A;
}

.btn-reportDownload:hover .btn-reportDownload-icon {
  color: #003C5A;
}

.truncate-2 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.hero-wrapper {
  background-image: url('./Assets/img/bg_abstract_left.png');
  background-position: left -40px;
  background-repeat: no-repeat;
  /* background-size: 50%; */

}


.hero-wrapper-2 {
  background: url('./Assets/img/bg_abstract_left.png'), linear-gradient(0deg, #013651 0%, #014F77 100%);
  background-repeat: no-repeat;
  background-position: left -800px, left;

}

.hero-wrapper-3 {
  background-image: url('./Assets/img/bg_abstract_3.png');
  background-repeat: no-repeat;

}

.hero-wrapper-5 {
  background: url('./Assets/img/bg_abstract_right.png'), linear-gradient(0deg, #013651 0%, #014F77 100%);
  background-repeat: no-repeat;
  background-position: right;

}

.hero-wrapper-6 {
  background-image: url('./Assets/img/bg_abstract_right.png'), url('./Assets/img/bg_abstract_left.png');
  background-repeat: no-repeat;
  background-position: right -1400px, left 500px;

}

.hero-wrapper-8 {
  background-image: url('./Assets/img/bg_abstract_left.png'), linear-gradient(0deg, #013651 0%, #014F77 100%);
  background-repeat: no-repeat;
  background-position: left -383px, top;

}

.mission-wrapper-1 {
  background: url('./Assets/img/bg_abstract_10.png'), #E5EFF4;
  background-repeat: no-repeat;

  background-position: center;

}

.hero-img-overlay {
  background: radial-gradient(527.72% 147.43% at 14.08% -13.43%, rgba(0, 97, 145, 0.5) 34.9%, rgba(0, 97, 146, 0) 98.96%);
  border-radius: 10px;
}

.news-img-overlay {
  background: rgba(0, 97, 146, 0.166);
  /* opacity: 0.6; */
  background-size: cover;
  border-radius: 10px;
}


/* ***************************************************** */
/* About page */
/* ***************************************************** */

.about-wrapper-1 {
  background: url('./Assets/img/bg_abstract_left.png'), url('./Assets/img/bg_abstract_right.png'), linear-gradient(180deg, rgba(1, 54, 81, 0.9) 0%, rgba(1, 79, 119, 0.9) 100%), url('./Assets/img/bg_about.png');
  background-position: left -10%, right 140%, left, left;
  background-repeat: no-repeat;
  background-size: auto, auto, auto, cover;
}

.about-principle-wrapper {
  background-image: linear-gradient(102.45deg, rgba(0, 97, 146, 0.6) 2.71%, rgba(0, 97, 146, 0) 99.17%), url('./Assets/img/about_principles.png');
  background-size: cover;
}

.about-wrapper-2 {
  background: url('./Assets/img/bg_abstract_left.png'), url('./Assets/img/bg_abstract_right.png');
  background-repeat: no-repeat;
  background-position: left -1100px, right 800px;
}

.about-wrapper-3 {
  background-image: url('./Assets/img/bg_abstract_right.png'), linear-gradient(180deg, #013651 0%, #014F77 100%);
  background-position: right;
  background-repeat: no-repeat;
}

.about-wrapper-4 {
  background-image: url('./Assets/img/bg_abstract_left.png'), url('./Assets/img/bg_abstract_right.png');
  background-repeat: no-repeat;
  background-position: left -30%, right 120%;
}

.about-wrapper-5 {
  background-image: url('./Assets/img/bg_abstract_left.png'), linear-gradient(0deg, #013651 0%, #014F77 100%);
  background-position: left -550px, center;
  background-repeat: no-repeat;
}

.about-wrapper-6 {
  background-image: url('./Assets/img/bg_abstract_left.png');
  background-position: left -1300px, center;
  background-repeat: no-repeat;
}

.about-wrapper-7 {
  background-image: url('./Assets/img/bg_abstract_left.png'), url('./Assets/img/bg_abstract_right.png'), linear-gradient(0deg, #013651 0%, #014F77 100%);
  background-position: left -1800px, right -0px, center;
  background-repeat: no-repeat;
}

.about-wrapper-8 {
  background-image: url('./Assets/img/bg_abstract_right.png');
  background-position: right 70%;
  background-repeat: no-repeat;
}

/* ----------------------------------------------- */
/* Services */
/* ----------------------------------------------- */

.accrodion-wrapper-1 {
  background: url('./Assets/icons/logo_2.svg'), linear-gradient(0deg, #013651 0%, #014F77 100%);
  ;
  background-repeat: no-repeat;
  background-position: 80% 20px, center;
  background-size: 100px, cover;
}

.accrodion-wrapper-2 {
  background: url('./Assets/icons/logo_2.svg'), linear-gradient(0deg, #013651 0%, #014F77 100%);
  ;
  background-repeat: no-repeat;
  background-position: 80% -110px, center;
  background-size: 100px, cover;
}

.service-wrapper-2 {
  background-image: url('./Assets/img/bg_abstract_left.png');
  background-position: left -800px;
  background-repeat: no-repeat;
}

.service-wrapper-3 {
  background-image: url('./Assets/img/bg_abstract_right.png');
  background-position: right 500px;
  background-repeat: no-repeat;
}

.investor-relations-wrapper-1 {
  background: url('./Assets/img/bg_abstract_left.png'), url('./Assets/img/bg_abstract_right.png'), linear-gradient(180deg, rgba(1, 54, 81, 0.9) 0%, rgba(1, 79, 119, 0.9) 100%), url('./Assets/img/relation_bg.png');
  background-position: left -10%, right 140%, left, left;
  background-repeat: no-repeat;
  background-size: auto, auto, auto, cover;
}

.investor-relations-wrapper-2 {
  background: url('./Assets/img/bg_abstract_left.png'), url('./Assets/img/bg_abstract_right.png'), linear-gradient(180deg, #013651 0%, #014F77 100%);
  background-position: left 340%, right -300%, center;
  background-repeat: no-repeat;
  background-size: auto, auto, auto, cover;
}

.misc-wrapper-2 {
  background-image: url('./Assets/img/bg_abstract_left.png');
  background-position: left -383px;
  background-repeat: no-repeat;
}

.client-rights-wrapper-2 {
  background-image: url('./Assets/img/bg_abstract_left.png');
  background-position: left -448px;
  background-repeat: no-repeat;

}

.faq-wrapper-2 {
  background-image: url('./Assets/img/bg_abstract_left.png');
  background-position: left -380px;
  background-repeat: no-repeat;
}

.faq-wrapper-3 {
  background-image: url('./Assets/img/bg_abstract_left.png'), linear-gradient(180deg, #013651 0%, #014F77 100%);
  background-position: left -1100px, center;
  background-repeat: no-repeat;
}

.news-wrapper-1 {
  background-image: url('./Assets/img/bg_abstract_left.png');
  background-position: left -0px;
  background-repeat: no-repeat;
}


.popup-wrapper-1 {
  background-image: url('./Assets/icons/logo_2.svg'), linear-gradient(0deg, #013651 0%, #014F77 100%);
  background-repeat: no-repeat;
  background-position: right 30px, left;
  background-size: contain, auto;
}

.popup-wrapper-2 {
  background-image: url('./Assets/img/bg_logo_popup.png'), linear-gradient(180deg, #013651 0%, #014F77 100%);
  background-repeat: no-repeat;
  background-position: right bottom, bottom;
  /* background-size: contain, auto; */
}



@media only screen and (max-width: 1280px) {
  .mobile-menu-wrapper{
    background-image:  url('./Assets/img/bg_abs/bg_abstract_mob_1.png'), url('./Assets/img/bg_abs/bg_abstract_mob_2.png'), url('./Assets/img/bg_abs/bg_abstract_mob_1.png'), linear-gradient(0deg, #013651 0%, #014F77 100%);
    background-repeat: no-repeat;
    background-position: right 100px, left 700px, right 1300px, center;
  }
  .hero-wrapper {
    background-image: url('./Assets/img/bg_abs/bg_abstract_mob_1.png');
    background-repeat: no-repeat;
    background-position: right;
  }

  .mission-wrapper-1 {
    background: url('./Assets/img/bg_abs/bg_abstract_mob_10.png'), #E5EFF4;
    background-repeat: no-repeat;
    background-position: left bottom;

  }


  .hero-wrapper-2 {
    background: linear-gradient(0deg, #013651 0%, #014F77 100%);
    background-repeat: no-repeat;
    /* background-position: left -800px, left; */

  }


  .hero-wrapper-3 {
    background-image: url('./Assets/img/bg_abs/bg_abstract_mob_2.png'), url('./Assets/img/bg_abs/bg_abstract_mob_1.png'), url('./Assets/img/bg_abs/bg_abstract_mob_2.png'), url('./Assets/img/bg_abs/bg_abstract_mob_1.png');
    background-repeat: no-repeat;
    background-position: 0px -350px, right 400px, left 1000px, right 1400px;

  }

  .hero-wrapper-5 {
    background: linear-gradient(0deg, #013651 0%, #014F77 100%);
    background-repeat: no-repeat;
    background-position: right;

  }


  .hero-wrapper-6 {
    background-image: url('./Assets/img/bg_abs/bg_abstract_mob_2.png'), url('./Assets/img/bg_abs/bg_abstract_mob_1.png'), url('./Assets/img/bg_abs/bg_abstract_mob_2.png'), url('./Assets/img/bg_abs/bg_abstract_mob_1.png'), url('./Assets/img/bg_abs/bg_abstract_mob_2.png');
    background-repeat: no-repeat;
    background-position: 0px -500px, right 200px, left 40%, right 75%, left 120%;

  }

  .hero-wrapper-8 {
    background-image: url('./Assets/img/bg_abs/bg_abstract_mob_2.png'), url('./Assets/img/bg_abs/bg_abstract_mob_1.png'), url('./Assets/img/bg_abs/bg_abstract_mob_2.png'), url('./Assets/img/bg_abs/bg_abstract_mob_1.png'), linear-gradient(0deg, #013651 0%, #014F77 100%);
    background-repeat: no-repeat;
    background-position: 0px -250px, right 300px, left 800px, right 1300px, center;

  }


  .about-wrapper-1 {
    background: url('./Assets/img/bg_abs/bg_abstract_mob_2.png'), url('./Assets/img/bg_abs/bg_abstract_mob_1.png'), url('./Assets/img/bg_abs/bg_abstract_mob_1.png'), linear-gradient(180deg, rgba(1, 54, 81, 0.9) 0%, rgba(1, 79, 119, 0.9) 100%), url('./Assets/img/bg_about.png');
    background-position: left 900px, right 0px, right 1500px, left;
    background-repeat: no-repeat;
    background-size: auto, auto, auto, cover;
  }

  .about-wrapper-2 {
    background-image: url('./Assets/img/bg_abs/bg_abstract_mob_1.png'), url('./Assets/img/bg_abs/bg_abstract_mob_2.png'), url('./Assets/img/bg_abs/bg_abstract_mob_1.png'), url('./Assets/img/bg_abs/bg_abstract_mob_2.png');
    background-repeat: no-repeat;
    background-position: right -10%, left 18%, right 45%, left 80%;
  }

  .about-wrapper-3 {
    background-image: linear-gradient(0deg, #013651 0%, #014F77 100%);

  }

  .about-wrapper-4 {
    background-image: url('./Assets/img/bg_abs/bg_abstract_mob_2.png'), url('./Assets/img/bg_abs/bg_abstract_mob_1.png'), url('./Assets/img/bg_abs/bg_abstract_mob_2.png'), url('./Assets/img/bg_abs/bg_abstract_mob_1.png'), url('./Assets/img/bg_abs/bg_abstract_mob_2.png');
    background-repeat: no-repeat;
    background-position: left -300px, right 300px, left 800px, right 1400px, left 2300px;
  }


  .about-wrapper-5 {
    background-image: linear-gradient(0deg, #013651 0%, #014F77 100%);
    background-position: center;
    background-repeat: no-repeat;
  }

  .about-wrapper-6 {
    background-image: url('./Assets/img/bg_abs/bg_abstract_mob_2.png'), url('./Assets/img/bg_abs/bg_abstract_mob_1.png');
    background-repeat: no-repeat;
    background-position: left -300px, right 300px;
  }

  .about-wrapper-7 {
    background-image: linear-gradient(0deg, #013651 0%, #014F77 100%);
    background-position: center;
  }

  .about-wrapper-8 {
    background-image: url('./Assets/img/bg_abs/bg_abstract_mob_2.png'), url('./Assets/img/bg_abs/bg_abstract_mob_1.png');
    background-repeat: no-repeat;
    background-position: left 300px, right -300px;
  }
  
  .service-wrapper-2{
    background-image: url('./Assets/img/bg_abs/bg_abstract_mob_1.png');
    background-repeat: no-repeat;
    background-position:  right 0px;
  }

  .service-wrapper-3{
    background-image: url('./Assets/img/bg_abs/bg_abstract_mob_2.png'), url('./Assets/img/bg_abs/bg_abstract_mob_1.png');
    background-repeat: no-repeat;
    background-position: left 0px, right 700px;
  }

  .news-wrapper-1 {

    background-image: url('./Assets/img/bg_abs/bg_abstract_mob_2.png'), url('./Assets/img/bg_abs/bg_abstract_mob_1.png'), url('./Assets/img/bg_abs/bg_abstract_mob_2.png'), url('./Assets/img/bg_abs/bg_abstract_mob_1.png'), url('./Assets/img/bg_abs/bg_abstract_mob_2.png');
    background-repeat: no-repeat;
    background-position: left 0px, right 300px, left 800px, right 1400px, left 2300px;

  }

  .investor-relations-wrapper-1 {

    background: url('./Assets/img/bg_abs/bg_abstract_mob_1.png'), linear-gradient(180deg, rgba(1, 54, 81, 0.9) 0%, rgba(1, 79, 119, 0.9) 100%), url('./Assets/img/relation_bg.png');
    background-position: right 300px, center, center;
    background-repeat: no-repeat;
    background-size: auto, auto, cover, cover;

  }

  .client-rights-wrapper-2 {

    background: url('./Assets/img/bg_abs/bg_abstract_mob_1.png'), url('./Assets/img/bg_abs/bg_abstract_mob_2.png');
    background-position: right -200px, left 500px, center;
    background-repeat: no-repeat;
    background-size: auto, auto, cover, cover;

  }

  .misc-wrapper-2 {

    background: url('./Assets/img/bg_abs/bg_abstract_mob_1.png'), url('./Assets/img/bg_abs/bg_abstract_mob_2.png');
    background-position: right -200px, left 500px, center;
    background-repeat: no-repeat;
    background-size: auto, auto, cover, cover;

  }

}


@media only screen and (min-width: 1280px) and (max-width: 1535px) { 

  .hero-wrapper{
    background-size: 50%, 100%;
  
  }
  .hero-wrapper-2 {
    background-size: 50%, 100%;
    background-position: left -630px, left;
  }
  .hero-wrapper-3 {
    background-size: 50%, 100%;
    /* background-position: left -650px, left; */
  }
  

}


/* ===================== */
/* ===================== */

.flag-dropdown>.selected-flag {
  background-color: #5a000000 !important;
}
.flag-dropdown>.open {
  background-color: #003c5a00 !important;
}
.react-tel-input .country-list {
  width: 350px !important;
  background-color: #ffffffe6 !important;
  
}

/* ===================== */
